
<h1 class="page-header">Editar Unidade de Atendimento</h1>



<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
	
</div>
<div class="panel-body">
<div class="col-lg-12">
	<%= render 'form' %>
</div>
	<%= link_to 'Show', @unit %> |
	<%= link_to 'Back', units_path %>
</div>
</div>
</div>