/*
 * This is a manifest file that'll be compiled into application, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
  ** * require fonts/css/font-awesome.min

 *


 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

@import "css/animate.min";
@import "css/custom";
@import "css/icheck/flat/green";
@import "css/floatexamples";
@import "css/normalize";
@import "css/ion.rangeSlider";
@import "css/ion.rangeSlider.skinFlat";
@import "pace";

.login-page body{
	margin:0;
	color:#fff;
	background: #A90023;
	font:600 16px/18px 'Open Sans',sans-serif;


}
body{
	background-color: #A90023
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-page h3{
  color: #fff;
  text-align: center;
}


.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
  background-image: asset-data-url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(169,0,35,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#D4C400;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background-color :rgba(255,255,255,0.6);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#D4C400;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#D4C400;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

 .nav_menu, .top_nav{
	background-color: #A90023;
	background: #A90023;
	color: #fff;
}

.panel_toolbox li a{
	background-color: #fff !important;
	background: #fff !important;
}

.panel_toolbox li {
	background-color: #fff !important;
		background: #fff !important;
}

.active a {

	background-color: #A90023 !important;
	background: #A90023 !important;
	color: #fff !important;
	border-color: #A90023 !important;
}

div.navbar-default > div.container {	background-color: #A90023 !important;}

.sidebar-footer a{
	background-color: #A90023 !important;
	background: #A90023 !important;
}

.nav_title{
  text-align: center;
  background: #A90023;
	color: #fff;
}

.navbar-right li a span{
	color:#fff !important;
}

.alert{
		color:#fff !important;
}

a, .left_col *{
	background: #A90023;
	color: #fff
}

.right_col{border-radius: 10px;}

.glyphicon{
	background: #A90023;

}

.sidebar-footer{
	background: #A90023;
}

.side-menu .active{
	background: #A90023;
}

li a i,span{
	color: #fff;
	fill: #fff;
}
.top_nav div nav ul li.open ul li a{
	color: #fff;
}

#topnav-username{
	color:#fff;
}

.menu_section ul li ul li{
	color: #fff !important;
	fill: #fff !important;
}
